@charset "utf-8";

main {
    display: flex;
    flex-wrap: wrap;
}

section {
	width: 100%; 
}

/* responsive design for divice with max-width: 750px*/
@media screen and (max-width: 750px) {
	section#map-container {
		width: 100%;
	}
		 
	section#restaurant-container {
		width: 100%;
		padding: 10px 0 10px;
	}

	div.filter-options {
		height: 120px;
	}

	ul#restaurants-list {
    	padding: 10px 10px 5px;
    	display: flex;
    	flex-wrap: wrap;
	}

	#restaurants-list li {
	    box-shadow: 5px 15px 10px;
	    padding: 0;
	    text-align: center;
	}
	
}

/* responsive design for divice with min-width: 751px*/
@media screen and (min-width: 751px) {
	section#map-container {
		width: 100%;
	}
		 
	section#restaurant-container {
		width: 100%;
		padding: 10px 15px 10px;
	}

	div.filter-options {
		height: 70px;
	}

	ul#restaurants-list {
    	padding: 10px 0 5px;
    	display: flex;
    	flex-wrap: wrap;
	}

	#restaurants-list li {
	    box-shadow: 5px 15px 10px;
	    padding: 0;
	    text-align: center;
	}
}

/* responsive design for divice with min-width: 970px*/
@media screen and (min-width: 970px) {

	section#map-container {
		width: 100%;
	}
		 
	section#restaurant-container {
		width: 100%;
		padding: 10px 0 0;
	}

	div.filter-options {
		height: 70px;
	}

	ul#restaurants-list {
	    padding: 10px 15px 25px;
	    display: flex;
	    flex-wrap: wrap;
	}

	#restaurants-list li {
	    padding: 20px 20px;
	    text-align: left;
	    width: 441px;
	    display: grid;
	    box-shadow: 5px 15px 10px;
	}
	
}

/* responsive design for divice with min-width: 1200px*/
@media screen and (min-width: 1200px) { 

	section#map-container {
		width: 100%;
	}
		 
	section#restaurant-container {
		width: 100%;
		padding: 10px 0 0;
	}

	div.filter-options {
		height: 70px;
	}

	ul#restaurants-list {
	    padding: 60px 60px;
	    display: flex;
	    flex-wrap: wrap;
	}

	#restaurants-list li {
	    padding: 20px 20px;
	    text-align: left;
	    width: 441px;
	    display: grid;
	    box-shadow: 5px 15px 10px;
	}
}